/* Banner is set in components/banner && carroussel si set in components/card */
main.city-house section.intro h2 {
  color: black;
  font-weight: 400;
  max-width: 650px;
  margin: 0 auto;
}

main.city-house section.intro p {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

h3.peach {
  color: $peach;
}

main.city-house {
  margin-bottom: 0;
}
// =========== city style ===========

section.city-activities h2 {
  font-size: 28px;
}

section.city-activities div#step-2 div.step-img {
  order: 2;
}

section.email-banner {
  width: 100%;
  padding: 65px;
  background: $peach;
  justify-self: center;
}

section.email-banner h4.CTA {
  max-width: 650px;
  margin: 0 auto 45px;
  color: white;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

section.email-banner div#mc_embed_signup {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

section.email-banner div#mc_embed_signup form {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 4px;
}

section.email-banner div#mc_embed_signup form div#mc_embed_signup_scroll {
  width: 100%;
}

section.email-banner div#mc_embed_signup form div input {
  color: white;
  font-size: 14px;
  padding: 7px 15px;
}

section.email-banner div#mc_embed_signup form div input#subscriber_email {
  width: 75%;
  display: inline-block;
  vertical-align: middle;
}

section.email-banner div#mc_embed_signup form div input::placeholder {
  color: white;
}

section.email-banner div#mc_embed_signup form div#mc_embed_signup_scroll div.clear {
  width: 20%;
  margin-left: 4%;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid rgba(255,255,255,.5);
}

section.email-banner div#mc_embed_signup form div#mc_embed_signup_scroll div.clear:hover {
  background: white;
  transition: $ease;
}

section.email-banner div#mc_embed_signup form div#mc_embed_signup_scroll div.clear:hover input {
  color: $peach;
  padding: 7px 15px;
}
// =========== house style ===========

section.house-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.around div.description,
section.house-details div.description {
  width: 40%;
}
section.around div.description h3,
section.house-details div.description h3{
  font-family: $montserrat;
  font-weight: bold;
}
section.house-details div.description p {
  margin: 25px 0;
  font-size: 16px;
  font-family: $asap;
  color: $text;
}

section.house-details.amenities ul {
  columns: 2;
}

section.house-details.amenities ul li {
  color: $peach;
  font-size: 16px;
  margin-bottom: 10px;
  display: none;
  width: 100%;
}

section.house-details.amenities ul li.present {
  display: inline-block;
}

section.house-details.amenities ul li i {
  margin-right: 10px;
  font-size: 18px;
}

section.around div.around-house {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

section.around div.mapsize {
  width: 500px;
  height: 500px;
  background: $light-grey;
}

section.around div.description p {
  margin: 10px 0;
}
// =========== City index style ===========

section.cities {
  display: grid;
  margin: 20px 0;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 20px 0;
}
// Grid Instagram

section.cities div.city {
  position: relative;
}

section.cities div.city:hover div.city-img {
  box-shadow: none;
}

section.cities div.city-img {
  width: 250px;
  height: 270px;
  border-radius: 4px;
  box-shadow: $insta-shadow;
  transition: all 0.3s ease-in-out;
}

section.cities h3 a {
  color: black;
}

section.cities a.city-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section.launch-city .flex {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

section.launch-city .flex div.launch-detail {
  display: block;
  width: 30%;
}

section.launch-city div.launch-detail i {
  font-size: 30px;
  color: $peach;
}
@media only screen and (max-width: 768px) {
  section.city-activities div#step-2 div.step-img {
    order: 0;
  }

  section.around div.around-house {
    flex-direction: column;
  }

  section#houses div.grid {
    margin: 0 auto;
  }

  section.around div.mapsize {
    width: 100%;
    height: 30vw;
  }

  section.around div.description {
    width: 100%;
    columns: 2;
    margin-top: 25px;
  }

  section.around div.description p {
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 500px) {
  section.email-banner div#mc_embed_signup form div input[type="email"] {
    width: 100%;
    text-align: center;
  }

  section.email-banner div#mc_embed_signup form div#mc_embed_signup_scroll div.clear {
    width: 100%;
    margin-left: 0;
    border-left: 0;
  }

  section.around div.around-house,
  section.house-details {
    flex-direction: column;
  }

  section.around div.description,
  section.house-details div.description {
    width: 100%;
    margin-top: 40px;
    columns: 1;
  }
  section.house-details.amenities ul {
    columns: 1;
    width: 200px;
    margin: 0 auto;
  }

  section.house-details.amenities div.description {
    order: 2;
  }

  section.around div.mapsize {
    width: 100%;
    height: 90vw;
  }

  section.launch-city .flex {
    flex-direction: column;
  }

  section.launch-city .flex div.launch-detail {
    width: 100%;
  }
}
