main.terms {
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
}

main.terms article {
  grid-column: 2;
}

main.terms h1 {
  font-size: 34px;
  margin: 50px 0;
  color: $grey;
  font-weight: 100;
  text-align: center;
}

main.terms h2 {
  font-size: 24px;
  text-align: left;
  color: black;
  margin-bottom: 10px;
}

main.terms h4 {
  font-weight: 700;
  color: black;
  margin-top: 65px;
}

main.terms p {
  font-size: 16px;
}

main.terms p strong {
  font-weight: 500;
}

main.terms ul {
  list-style: inherit;
  margin-left: 40px;
  color: $grey;
  margin-bottom: 15px;
}

main.terms ul li {
  line-height: 170%;
}

main.terms.faq div#filters a {
  color: $light-grey;
  font-weight: 100;
  font-size: 14px;
  margin: auto 10px;
}

main.terms.faq div#filters a:first-child {
  margin: 0 10px 0 0;
}

main.terms.faq div#filters a:hover {
  color: $peach;
}

main.terms.faq ul {
  margin: 20px 0;
  list-style: none;
}

main.terms.faq ul li h4 {
  display: table-cell;
  font-weight: 100;
  width: 100vw;
  min-height: 60px;
  margin: 0;
  padding: 10px;
  vertical-align: middle;
  background: white;
  box-shadow: $shadow;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

main.terms.faq ul li h4:hover {
  box-shadow: none;
  border-color: $grey;
}

main.terms.faq ul li p {
  margin: 10px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

main.terms.faq ul li p a {
  color: $peach;
}

main.terms.faq ul li p a:hover {
  color: black;
}

main.terms.faq ul li.openAnswer p {
  height: auto;
  padding-bottom: 20px;
}
@media only screen and (max-width: 740px) {
  main.terms {
    grid-template-columns: 10% 80% 10%;
  }
}
