$red: #E84D54;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$grey: #66757F;
$light-grey: #A7B5BF;
$dark-green: #136F63;
$dark-white: #F2F5F7;
$input-border: #DEE5EA;
$dark-blue: #1D446E;
$peach: #FA7664;
$gr-orange: linear-gradient(to right,#E84D54 0%, #FC8152 100%);
$coloc-blue: #438E93;
$coloc-cyan: #75BDB3;
$gr-blue: linear-gradient(to right,#75BDB3 0%, #438E93 100%);
$facebook: #3b5998;
$error: #E84D54;
$gr-invest: linear-gradient(to right,#1D446E 0%, #4388CB 100%);
$invest: #4388CB;
$shadow: 0 3px 10px rgba(0,0,0,.3);
$insta-shadow: 0 28px 19px -25px rgba(0, 0, 0, .3);
$ease: all 0.3s ease-in-out;
$text: #323232;

// Admin colors
$pri-admin: #F15B79;
$sec-admin: #1D446E;
$lGrey-admin: #ADB0C4;
$dGrey-admin: #657786;
$red-admin: #F43758;
$green-admin: #038976;
