.tour-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}
.home-video-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page--button {
  background: transparent !important;
  border: 1.5px solid white !important;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 75%;
  width: 195px;
  box-shadow: none !important;
}

.logo {
  background: transparent;
  position: absolute;
  top: 0;
  left: 2%;
}
