<div class="d-flex justify-content-between border-bottom py-3">
  <div>
    <h1 class="font-family-text font-weight-bold">Rue de spa 32</h1>
    <span class="font-family-text">1400 per month</span>
    <br />
    <span class="font-family-text">140 square meters . 1 bedroom</span>
  </div>
  <button class="btn btn-primary my-auto apply-button">Apply for a visit</button>
</div>