body {
  margin: 0;
  padding: 0;
  min-width: 100% !important;
  font-family: Helvetica;
  font-weight: 100;
}

img {
  height: auto;
}

@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
  body[yahoo] .hide {
    display: none !important;
  }
  body[yahoo] .buttonwrapper {
    background-color: transparent !important;
  }
  body[yahoo] .button {
    padding: 0px!important;
  }
  body[yahoo] .button a {
    background-color: #e05443;
    padding: 15px 15px 13px !important;
  }
  body[yahoo] .unsubscribe {
    display: block;
    margin-top: 20px;
    padding: 10px 50px;
    background: #2f3942;
    border-radius: 5px;
    text-decoration: none !important;
    font-weight: bold;
  }
}
