.grid {
  @extend %d-g, %w-100;

  &--3x3 {
    @extend .grid;

    grid-gap: 0 $base-spacer * 12;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &__item {
    @extend %l-pb-1;

    &--top-right-large {
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
    }
  }
}
