<%= render VirtualTourComponent.new %>
<div class="logo">
  <%= image_tag 'transparent.png', width:"260px" %>
</div>
<%= link_to "Click To Visit", apartments_path, class: "btn btn-primary px-5 landing-page--button" %>
