.pin_code {
  width: 100%;
  
  input {
    font-size: 20px !important;
    font-weight: bold !important;
    margin-right: 15px !important;
    margin-top: 15px !important;
    text-align: center;
    width: 30px !important;
  }
}
