body {
  // &:not(.loaded) {
  //   .loader {
  //     *  {
  //       opacity: 0;
  //       animation: fadeIn 3s ease-out;
  //       animation-fill-mode: forwards;
  //     }
  //   }
  // }

  &.loaded {
    .loader {
      animation: fadeAndDisappear 1.5s ease-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeAndDisappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
