@import "inloco/config/resets";
@import "inloco/config/colors";
@import "inloco/config/typography";

@import "inloco/vendor/index";

@import "inloco/config/mixins";

@import "inloco/layouts/index";

@import "inloco/components/index";

@import "inloco/animations/index";

@import "_legacy/config/icons";

.apply-button {
  background: #2EB1BF !important;
  border: #2EB1BF !important;
  box-shadow: 0 0 0 0.2rem #2EB1BF !important;
}

.amenities {
  small {
  	color: #2EB1BF !important;
  }
}

.color-teal {
  color: #2EB1BF !important;
}

